<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Auditoria Detalles</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/css/estilos.css" th:href="@{/css/estilos.css}" rel="stylesheet">
</head>
<body>
<header>
		<nav>
			<ul>
				<li><a href="#" th:href="${'/normas'}">NORMAS</a></li>
		        <li><a href="#" th:href="${'/empresas'}">EMPRESAS</a></li>
		        <li><a href="#" th:href="${'/usuarios'}">USUARIOS</a></li>
		        <li><a href="#" th:href="${'/auditorias'}">AUDITORIAS</a></li>
		        <li><a href="#" th:href="${'/reporte'}">REPORTE</a></li>
			</ul>
		</nav>
	</header>
	<div id="espacio">
	</div>
    <div class="container" th:with="i= ${T(com.auditoria.proyecto.auditoria.util.Util).restartIndex()}">
        <h2>Auditoria Detalles</h2>
        <form class="form-horizontal"  >
            <div class="form-group">
                <label class="col-sm-2 control-label">ID:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${auditoria.idAuditoriaEmpresa}">Auditoria ID</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Estado:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${auditoria.status}">Estado </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Norma:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${auditoria.norma.nombre}">Norma</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Empresa:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${auditoria.empresa.razonSocial}">Empresa</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Usuario Aplicador:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${auditoria.usuarioAplicador.username}">Usuario Aplicador</p> 
                    <!-- <p class="form-control-static" th:text="varmas">Usuario Aplicador</p>  -->
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Fecha:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${auditoria.fecha}">Fecha</p>
                </div>
            </div>
            <br/>
            <br/>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a href="#" class="btn btn-default" th:href="${'/auditoria/edit/' + auditoria.idAuditoriaEmpresa}">Editar</a>
                </div>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>