<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Auditorias</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/css/estilos.css" th:href="@{/css/estilos.css}" rel="stylesheet">
</head>
<body>
<header>
		<nav>
			<ul>
				<li><a href="#" th:href="${'/normas'}">NORMAS</a></li>
		        <li><a href="#" th:href="${'/empresas'}">EMPRESAS</a></li>
		        <li><a href="#" th:href="${'/usuarios'}">USUARIOS</a></li>
		        <li><a href="#" th:href="${'/auditorias'}">AUDITORIAS</a></li>
		        <li><a href="#" th:href="${'/reporte'}">REPORTE</a></li>
			</ul>
		</nav>
	</header>
	<div id="espacio">
	</div>
    <div class="container">
        <table class="table">
            <h2>Auditorias</h2>
            <tr>
                <th>ID</th>
                <th>Norma</th>
                <th>Empresa</th>
                <th>Evaluacion</th>
                <th>View</th>
                <th>Edit</th>
               
                <th>Reporte</th>
            </tr>
            <tr th:each="auditoria : ${auditorias}">
                <td th:text="${auditoria.idAuditoriaEmpresa}">Auditoria ID</td>
                <td th:text="${auditoria.norma.nombre}">Norma</td>
                <td th:text="${auditoria.empresa.razonSocial}">Empresa</td>
                <td><a class="btn btn-default" href="#" th:href="${'/evaluacion/' + auditoria.idAuditoriaEmpresa}">Evaluacion</a> </td>
                <td><a class="btn btn-default" href="#" th:href="${'/auditoria/' + auditoria.idAuditoriaEmpresa}">View</a> </td>
                <td><a class="btn btn-default" href="#" th:href="${'/auditoria/edit/' + auditoria.idAuditoriaEmpresa}">Edit</a> </td>
                <!--<td><a class="btn btn-default" href="#" th:href="${'/auditoria/delete/' + auditoria.idAuditoriaEmpresa}">Delete</a> </td>-->
                <td><a class="btn btn-default" href="#" th:href="${'/report?id=' + auditoria.idAuditoriaEmpresa}">Reporte</a> </td>
            </tr>
        </table>
        <a th:href="${'/auditoria/new'}" class="btn btn-default">Nuevo</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>
