<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Norma Detalles</title>
<link href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link href="../static/css/estilos.css" th:href="@{/css/estilos.css}" rel="stylesheet">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="#" th:href="${'/normas'}">NORMAS</a></li>
		        <li><a href="#" th:href="${'/empresas'}">EMPRESAS</a></li>
		        <li><a href="#" th:href="${'/usuarios'}">USUARIOS</a></li>
		        <li><a href="#" th:href="${'/auditorias'}">AUDITORIAS</a></li>
		        <li><a href="#" th:href="${'/reporte'}">REPORTE</a></li>
			</ul>
		</nav>
	</header>
	<div id="espacio">
	</div>
	<div class="container">
		
			<h2>Norma: [[${norma.nombre}]]</h2>
		
		<form th:object="${cuestionario}" th:action="@{/norma/cuestionario}" method="post">
			<input type="hidden" th:field="*{idNorma}" />
			<div class="form-group">
				<label>Pregunta</label> <input type="text" th:field="*{item}"
					class="form-control" placeholder="Nombre">
			</div>
			<div class="form-group">
				<label>Respuesta</label><br/>
				<select th:field="*{respuesta}">
					<option th:value="SI" th:text="SI"></option>
					<option th:value="NO" th:text="NO"></option>
				</select>
			</div>
			<div class="form-group">
				<label>Apartado</label> 
				<select th:field="*{idApartado}">
					<option th:each="apartado : ${norma.apartados}" th:value="${apartado.idApartado}"
						th:text="${apartado.nombre}"></option>
				</select>
			</div>
			<button type="submit" class="btn btn-default">Agregar</button>
		</form>
		
			<table class="table">
				<h2>Preguntas</h2>
				<tr>
					<th>Apartado</th>
					<th>Pregunta</th>
					<th>Respuesta</th>
					<th>Delete</th>
				</tr>
				<span th:each="apartado : ${norma.apartados}">
					<tr th:each="pregunta : ${apartado.items}">
						<td th:text="${pregunta.apartado.nombre}">Apartado</td>
						<td th:text="${pregunta.item}">Pregunta</td>
						<td th:text="${pregunta.respuestaDeseada}">Respuesta</td>
						<td><a class="btn btn-default" href="#"
							th:href="${'/norma/cuestionario/delete/' + norma.idNorma + '/' +pregunta.idItemCuestionario}">Delete</a></td>
					</tr>				
				</span>
				
			</table>
			<a th:href="${'/norma/new'}" class="btn btn-default">Nuevo</a>
		
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="../static/js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>