<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Evaluacion</title>
	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link href="../static/css/estilos.css" th:href="@{/css/estilos.css}" rel="stylesheet">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="#" th:href="${'/normas'}">NORMAS</a></li>
		        <li><a href="#" th:href="${'/empresas'}">EMPRESAS</a></li>
		        <li><a href="#" th:href="${'/usuarios'}">USUARIOS</a></li>
		        <li><a href="#" th:href="${'/auditorias'}">AUDITORIAS</a></li>
		        <li><a href="#" th:href="${'/reporte'}">REPORTE</a></li>
			</ul>
		</nav>
	</header>
	<div id="espacio">
	</div>
	
	<div class="container" th:with="i= ${T(com.auditoria.proyecto.auditoria.util.Util).restartIndex()}">
		<h2>Evaluacion a [[${auditoriaEmpresa.empresa.razonSocial}]] en la
		norma [[${auditoriaEmpresa.norma.nombre}]]</h2>
	
		<form th:object="${auditoriaEmpresa}" th:action="@{/evaluacion}"
			method="post">
			<input type="hidden" th:field="*{idAuditoriaEmpresa}" />

			<span th:each="apartado : ${auditoriaEmpresa.norma.apartados}">
				<table class="table">
					<h2>[[${apartado.nombre}]]</h2>
					<tr>
						<th>Item</th>
						<th>Respuesta</th>
					</tr>
					<tr th:each="pregunta : ${apartado.items}">
						<span th:if="${#lists.size(auditoriaEmpresa.respuestas) > (T(com.auditoria.proyecto.auditoria.util.Util).getIndex() + 1)} ">
							<td th:text="${pregunta.item}">Pregunta</td>
							<td><input type="checkbox" th:name="idChecked"
								th:value="${auditoriaEmpresa.respuestas[T(com.auditoria.proyecto.auditoria.util.Util).getIndex()].idRespuestaAuditoria}" th:checked="${auditoriaEmpresa.respuestas[T(com.auditoria.proyecto.auditoria.util.Util).getNextIndex()].respuestaMarcada == 'SI'} ? 'checked' " /></td>
						</span>
					</tr>
				</table>
			</span>

			<button type="submit" class="btn btn-default">Guardar</button>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="../static/js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>