<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<html>
	<head>
		<title>HOME</title>
		<link href="../static/css/estilosHome.css" th:href="@{/css/estilosHome.css}" rel="stylesheet">
	</head>
	<body>
	<h1 id="titulo">BIENVENIDO</h1>
	<section class="main">
		<section class="articulos">
			<article>
				<ul>
					<li><a href="#" th:href="${'/normas'}">NORMAS</a></li>
				</ul>
			</article>
			<article>
				<ul>
					<li><a href="#" th:href="${'/empresas'}">EMPRESAS</a></li>
				</ul>
			</article>
		</section>
		<section class="articulos">
			<article>
				<ul>
					<li><a href="#" th:href="${'/usuarios'}">USUARIOS</a></li>
				</ul>
			</article>
			<article>
				<ul>
					<li><a href="#" th:href="${'/auditorias'}">AUDITORIAS</a></li>
				</ul>
			</article>
		</section>
	</section>
	</body>
</html>