<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Normas</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/css/estilos.css" th:href="@{/css/estilos.css}" rel="stylesheet">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="#" th:href="${'/normas'}">NORMAS</a></li>
		        <li><a href="#" th:href="${'/empresas'}">EMPRESAS</a></li>
		        <li><a href="#" th:href="${'/usuarios'}">USUARIOS</a></li>
		        <li><a href="#" th:href="${'/auditorias'}">AUDITORIAS</a></li>
		        <li><a href="#" th:href="${'/reporte'}">REPORTE</a></li>
			</ul>
		</nav>
	</header>
	<div id="espacio">
	</div>
    <div class="container">
        <table class="table" >
            <h2>Normas</h2>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apartados</th>
                <th>Cuestionario</th>
                <th>View</th>
                <th>Edit</th>
             
            </tr>
            <tr th:each="norma : ${normas}">
                <td th:text="${norma.idNorma}">Norma ID</td>
                <td th:text="${norma.nombre}">Norma Nombre</td>
                <td><a class="btn btn-default" href="#" th:href="${'/norma/apartado/' + norma.idNorma}">Apartado</a> </td>
                <td><a class="btn btn-default" href="#" th:href="${'/norma/cuestionario/' + norma.idNorma}">Cuestionario</a> </td>
                <td><a class="btn btn-default" href="#" th:href="${'/norma/' + norma.idNorma}">View</a> </td>
                <td><a class="btn btn-default" href="#" th:href="${'/norma/edit/' + norma.idNorma}">Edit</a> </td>
                <!--<td><a class="btn btn-default" href="#" th:href="${'/norma/delete/' + norma.idNorma}">Delete</a> </td>-->
            </tr>
        </table>
        <a th:href="${'/norma/new'}" class="btn btn-default">Nuevo</a>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>
