<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Norma</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/css/estilos.css" th:href="@{/css/estilos.css}" rel="stylesheet">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="#" th:href="${'/normas'}">NORMAS</a></li>
		        <li><a href="#" th:href="${'/empresas'}">EMPRESAS</a></li>
		        <li><a href="#" th:href="${'/usuarios'}">USUARIOS</a></li>
		        <li><a href="#" th:href="${'/auditorias'}">AUDITORIAS</a></li>
		        <li><a href="#" th:href="${'/reporte'}">REPORTE</a></li>
			</ul>
		</nav>
	</header>
	<div id="espacio">
	</div>

<div class="container">
<h2>Form Norma </h2>
    <form th:object="${norma}" th:action="@{/norma}" method="post">
        <input type="hidden" th:field="*{idNorma}" />
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" th:field="*{nombre}" class="form-control" placeholder="Nombre">
        </div>
        
        <button type="submit" class="btn btn-default">Guardar</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>