<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Usuarios</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/css/estilos.css" th:href="@{/css/estilos.css}" rel="stylesheet">
</head>
<body>
<header>
		<nav>
			<ul>
				<li><a href="#" th:href="${'/normas'}">NORMAS</a></li>
		        <li><a href="#" th:href="${'/empresas'}">EMPRESAS</a></li>
		        <li><a href="#" th:href="${'/usuarios'}">USUARIOS</a></li>
		        <li><a href="#" th:href="${'/auditorias'}">AUDITORIAS</a></li>
		        <li><a href="#" th:href="${'/reporte'}">REPORTE</a></li>
			</ul>
		</nav>
	</header>
	<div id="espacio">
	</div>
    <div class="container">
        <table class="table">
            <h2>Usuarios</h2>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.idUsuario}">Usuario ID</td>
                <td th:text="${usuario.username}">Username</td>
                <td><a class="btn btn-default" href="#" th:href="${'/usuario/' + usuario.idUsuario}">View</a> </td>
                <td><a class="btn btn-default" href="#" th:href="${'/usuario/edit/' + usuario.idUsuario}">Edit</a> </td>
                <td><a class="btn btn-default" href="#" th:href="${'/usuario/delete/' + usuario.idUsuario}">Delete</a> </td>
            </tr>
        </table>
        <a th:href="${'/usuario/new'}" class="btn btn-default">Nuevo</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>
