@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('https://www.andersentaxlegal.es/recursos/img/portal/2017/12/01/norma-internacional-de-auditoria-701.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

#titulo{
	font-size: 40PX;
	color: #FFC312;
	text-align: center;
	font-family: 'Numans', sans-serif;
	padding-top: 40px;
	padding-bottom: 20px;
}

.main{
	display: inline-block;
}
.main .articulos{
	width: 100%;
	margin-left: 40%;
}

.main .articulos article{
	width: 330px;
	padding: 20px;
	height: 15px;
	line-height: 30px;
	text-align: center;
	display: table-cell;
	color: rgba(82, 0, 23);
	overflow: hidden;
	background: rgba(47, 52, 58,.5);
}

.main .articulos article ul li{
	list-style: none;
	background: rgba(255, 195, 18,.4);
	color: rgba(58, 71, 89,.4);
	font-size: 30px;
	margin-right: 35px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.main .articulos article ul li:hover{
	background: rgba(255, 195, 18);
	color: rgba(58, 71, 89);
}

.main .articulos article ul li a{
	text-decoration: none;
	padding: 30px;
}