@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('https://www.andersentaxlegal.es/recursos/img/portal/2017/12/01/norma-internacional-de-auditoria-701.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

body .home{
	width: 100%;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 20px;

}

body .home a{
	color: white;
	font-size: 50px;
	text-decoration: none;
}

body .home a:hover{
	color: #FFC312;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: 40px;
width: 400px;
background-color: rgba(0,0,0,0.7) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.titulo{
	width: 100%;
	text-align: center;
	font-size: 45px;
	color: white;
	padding-top: 60px;
	padding-bottom: 30px;
}

#formularioLogin form{
	line-height: 25px;
	text-align: center;
}
 #formularioLogin form label{
	color: white;
	display: block;
	margin-top: 15px;
}

 #formularioLogin form input{
	background: white;
	width: 250px;
	border: solid 1px blue;
}

 #formularioLogin form input[type="text"],  #formularioLogin form input[type="password"]{
 	margin-left: 60px;
 }

 #formularioLogin form input[type="submit"]{
	width: 150px;
	background: #FFC312;
	color: black;

}
#formularioLogin form input[type="submit"]:hover{
	background: green;
	color: black;
}

h2{
	width: 100%;
	text-align: center;
	color: #FFC312;
	font-size: 45px;
	padding-top: 50px;
	padding-bottom: 30px;
}


