@import url('https://fonts.googleapis.com/css?family=Numans');
*{ margin:0; padding: 0;}

html,body{
background-image: url('https://www.andersentaxlegal.es/recursos/img/portal/2017/12/01/norma-internacional-de-auditoria-701.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

h2{
	color: #FFC312;
	font-family: 'Numans', sans-serif;
	font-size: 35px;
}

header{ 
	width: 100%; 
	height: 50px; 
	position: fixed;
}

header nav{	
	width: 100%; 
	height: 50px; 
	background: rgba(58, 71, 89,.7);
	display: inline-block;
}

header nav ul{
	list-style: none; 
	display: block; 
	height: 50px;
	margin-left: 23%;
}

header nav ul li{
	height: 50px; 
	float: left;
}

header nav ul li a, header nav ul li a:hover{
	font-size: 18px;
}

header nav ul li a{
	color: white;
	display: block;
	padding: 13px 23px;
	text-align: center;
	position: relative;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

header nav ul li a:hover{
	height: 50px; 
	color: #FFC312; 
	text-decoration: none; 
}

.container{
	background: rgba(58, 71, 89,.7);
	padding-bottom: 30px;
	color: white;
	font-size: 16px;
	font-family: helvetica;
}

#espacio{
	width: 100%;
	height: 90px;
}

.btn-default{
	background: rgba(0, 198, 0,.6);
	color: white;
}

.btn-default:hover{
	background: white;
	color: rgba(58, 71, 89);
}

.form-group select{
	background: green;
}
